
/* Typography (heading) */
@font-face {
    font-family: "DIN Next";
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
    src: url("../fonts/dinnext_n7.57888b0b2051a4dba7d02aad7ca64db99eca3cf1.woff2?h1=bXltb25zdGVyYXVkaW8uY29t&h2=bXltb25zdGVyYXVkaW8uYWNjb3VudC5teXNob3BpZnkuY29t&hmac=456533717e1191bccfd91d26d6ad9710bb9892b42c39571c446cacd8833d396d") format("woff2"),
        url("../fonts/dinnext_n7.8ca52ee0f403ce0c89c90387f16284e4637c1b10.woff?h1=bXltb25zdGVyYXVkaW8uY29t&h2=bXltb25zdGVyYXVkaW8uYWNjb3VudC5teXNob3BpZnkuY29t&hmac=15a43cfa0f78e3fe47dcf2be50e8facc1c137c43bb33e703e2200a1a312e4fe8") format("woff");
}

@font-face {
    font-family: "DIN Next";
    font-weight: 700;
    font-style: italic;
    font-display: fallback;
    src: url("//mymonsteraudio.com/cdn/fonts/din_next/dinnext_i7.3e0968fa491d382704988ea5c9fc6209193f03d0.woff2?h1=bXltb25zdGVyYXVkaW8uY29t&h2=bXltb25zdGVyYXVkaW8uYWNjb3VudC5teXNob3BpZnkuY29t&hmac=00431ba4e061c42d80b11e01248226d868ac4a0b6e7c53198599735718fa9352") format("woff2"),
        url("//mymonsteraudio.com/cdn/fonts/din_next/dinnext_i7.28611b7c75be07249f4251b10e48a8d9f8dbf8ba.woff?h1=bXltb25zdGVyYXVkaW8uY29t&h2=bXltb25zdGVyYXVkaW8uYWNjb3VudC5teXNob3BpZnkuY29t&hmac=44a23824f29e241dc19ac332becea2af1e0589845554e778b41a06a14cc6adbb") format("woff");
}

/* Typography (body) */
@font-face {
    font-family: "DIN Next";
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    src: url("../fonts/dinnext_n4.438c249fdbceeefafa64221353c5ece2fdb8ae14.woff2?h1=bXltb25zdGVyYXVkaW8uY29t&h2=bXltb25zdGVyYXVkaW8uYWNjb3VudC5teXNob3BpZnkuY29t&hmac=3079e2cf4031494f362c38076c619fd7d3df7f838872a52ecf75193d7db84807") format("woff2"),
        url("../fonts/dinnext_n4.ba1a214c52f07ec250a5179209eb84e73639e1c9.woff?h1=bXltb25zdGVyYXVkaW8uY29t&h2=bXltb25zdGVyYXVkaW8uYWNjb3VudC5teXNob3BpZnkuY29t&hmac=ed0f6a3ad17b8310326a452f153ff6d56a285ee81b97fbf55e1da4c495ae84a5") format("woff");
}

@font-face {
    font-family: "DIN Next";
    font-weight: 400;
    font-style: italic;
    font-display: fallback;
    src: url("//mymonsteraudio.com/cdn/fonts/din_next/dinnext_i4.61ded265c0c537a08a3ef6c1f78e76a5f3be91c9.woff2?h1=bXltb25zdGVyYXVkaW8uY29t&h2=bXltb25zdGVyYXVkaW8uYWNjb3VudC5teXNob3BpZnkuY29t&hmac=35301fa90e38a70c6aad6a7e7cdd03b157f487a2f351243584692d50a789710f") format("woff2"),
        url("//mymonsteraudio.com/cdn/fonts/din_next/dinnext_i4.09dd19acb435d364f8a7263a588c573108d49efc.woff?h1=bXltb25zdGVyYXVkaW8uY29t&h2=bXltb25zdGVyYXVkaW8uYWNjb3VudC5teXNob3BpZnkuY29t&hmac=dea8237b38b29f4a58c8151bf8a322cdc5d185c60f0c0a15af27a4564269d305") format("woff");
}

@font-face {
    font-family: "DIN Next";
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
    src: url("../fonts/dinnext_n7.57888b0b2051a4dba7d02aad7ca64db99eca3cf1.woff2?h1=bXltb25zdGVyYXVkaW8uY29t&h2=bXltb25zdGVyYXVkaW8uYWNjb3VudC5teXNob3BpZnkuY29t&hmac=456533717e1191bccfd91d26d6ad9710bb9892b42c39571c446cacd8833d396d") format("woff2"),
        url("../fonts/dinnext_n7.8ca52ee0f403ce0c89c90387f16284e4637c1b10.woff?h1=bXltb25zdGVyYXVkaW8uY29t&h2=bXltb25zdGVyYXVkaW8uYWNjb3VudC5teXNob3BpZnkuY29t&hmac=15a43cfa0f78e3fe47dcf2be50e8facc1c137c43bb33e703e2200a1a312e4fe8") format("woff");
}

@font-face {
    font-family: "DIN Next";
    font-weight: 700;
    font-style: italic;
    font-display: fallback;
    src: url("//mymonsteraudio.com/cdn/fonts/din_next/dinnext_i7.3e0968fa491d382704988ea5c9fc6209193f03d0.woff2?h1=bXltb25zdGVyYXVkaW8uY29t&h2=bXltb25zdGVyYXVkaW8uYWNjb3VudC5teXNob3BpZnkuY29t&hmac=00431ba4e061c42d80b11e01248226d868ac4a0b6e7c53198599735718fa9352") format("woff2"),
        url("//mymonsteraudio.com/cdn/fonts/din_next/dinnext_i7.28611b7c75be07249f4251b10e48a8d9f8dbf8ba.woff?h1=bXltb25zdGVyYXVkaW8uY29t&h2=bXltb25zdGVyYXVkaW8uYWNjb3VudC5teXNob3BpZnkuY29t&hmac=44a23824f29e241dc19ac332becea2af1e0589845554e778b41a06a14cc6adbb") format("woff");
}

:root {
    /**
    * ---------------------------------------------------------------------
    * SPACING VARIABLES
    *
    * We are using a spacing inspired from frameworks like Tailwind CSS.
    * ---------------------------------------------------------------------
    */
    --spacing-0-5: 0.125rem;
    /* 2px */
    --spacing-1: 0.25rem;
    /* 4px */
    --spacing-1-5: 0.375rem;
    /* 6px */
    --spacing-2: 0.5rem;
    /* 8px */
    --spacing-2-5: 0.625rem;
    /* 10px */
    --spacing-3: 0.75rem;
    /* 12px */
    --spacing-3-5: 0.875rem;
    /* 14px */
    --spacing-4: 1rem;
    /* 16px */
    --spacing-4-5: 1.125rem;
    /* 18px */
    --spacing-5: 1.25rem;
    /* 20px */
    --spacing-5-5: 1.375rem;
    /* 22px */
    --spacing-6: 1.5rem;
    /* 24px */
    --spacing-6-5: 1.625rem;
    /* 26px */
    --spacing-7: 1.75rem;
    /* 28px */
    --spacing-7-5: 1.875rem;
    /* 30px */
    --spacing-8: 2rem;
    /* 32px */
    --spacing-8-5: 2.125rem;
    /* 34px */
    --spacing-9: 2.25rem;
    /* 36px */
    --spacing-9-5: 2.375rem;
    /* 38px */
    --spacing-10: 2.5rem;
    /* 40px */
    --spacing-11: 2.75rem;
    /* 44px */
    --spacing-12: 3rem;
    /* 48px */
    --spacing-14: 3.5rem;
    /* 56px */
    --spacing-16: 4rem;
    /* 64px */
    --spacing-18: 4.5rem;
    /* 72px */
    --spacing-20: 5rem;
    /* 80px */
    --spacing-24: 6rem;
    /* 96px */
    --spacing-28: 7rem;
    /* 112px */
    --spacing-32: 8rem;
    /* 128px */
    --spacing-36: 9rem;
    /* 144px */
    --spacing-40: 10rem;
    /* 160px */
    --spacing-44: 11rem;
    /* 176px */
    --spacing-48: 12rem;
    /* 192px */
    --spacing-52: 13rem;
    /* 208px */
    --spacing-56: 14rem;
    /* 224px */
    --spacing-60: 15rem;
    /* 240px */
    --spacing-64: 16rem;
    /* 256px */
    --spacing-72: 18rem;
    /* 288px */
    --spacing-80: 20rem;
    /* 320px */
    --spacing-96: 24rem;
    /* 384px */
    /* Container */
    --container-max-width: 1600px;
    --container-narrow-max-width: 1350px;
    --container-gutter: var(--spacing-5);
    --section-outer-spacing-block: var(--spacing-12);
    --section-inner-max-spacing-block: var(--spacing-10);
    --section-inner-spacing-inline: var(--container-gutter);
    --section-stack-spacing-block: var(--spacing-8);
    /* Grid gutter */
    --grid-gutter: var(--spacing-5);
    /* Product list settings */
    --product-list-row-gap: var(--spacing-8);
    --product-list-column-gap: var(--grid-gutter);
    /* Form settings */
    --input-gap: var(--spacing-2);
    --input-height: 2.625rem;
    --input-padding-inline: var(--spacing-4);
    /* Other sizes */
    --sticky-area-height: calc(var(--sticky-announcement-bar-enabled, 0) * var(--announcement-bar-height, 0px) + var(--sticky-header-enabled, 0) * var(--header-height, 0px));
    /* RTL support */
    --transform-logical-flip: 1;
    --transform-origin-start: left;
    --transform-origin-end: right;
    /**
    * ---------------------------------------------------------------------
    * TYPOGRAPHY
    * ---------------------------------------------------------------------
    */
    /* Font properties */
    --heading-font-family: "DIN Next", sans-serif;
    --heading-font-weight: 700;
    --heading-font-style: normal;
    --heading-text-transform: normal;
    --heading-letter-spacing: -0.02em;
    --text-font-family: "DIN Next", sans-serif;
    --text-font-weight: 400;
    --text-font-style: normal;
    --text-letter-spacing: 0.0em;
    /* Font sizes */
    --text-h0: 3rem;
    --text-h1: 2.5rem;
    --text-h2: 2rem;
    --text-h3: 1.5rem;
    --text-h4: 1.375rem;
    --text-h5: 1.125rem;
    --text-h6: 1rem;
    --text-xs: 0.6875rem;
    --text-sm: 0.75rem;
    --text-base: 0.875rem;
    --text-lg: 1.125rem;
    /**
    * ---------------------------------------------------------------------
    * COLORS
    * ---------------------------------------------------------------------
    */
    /* Color settings */
    --accent: 26 26 26;
    --text-primary: 26 26 26;
    --background-primary: 240 240 240;
    --dialog-background: 255 255 255;
    --border-color: var(--text-color, var(--text-primary)) / 0.12;
    /* Button colors */
    --button-background-primary: 26 26 26;
    --button-text-primary: 255 255 255;
    --button-background-secondary: 240 196 23;
    --button-text-secondary: 26 26 26;
    /* Status colors */
    --success-background: 224 244 232;
    --success-text: 0 163 65;
    --warning-background: 255 246 233;
    --warning-text: 255 183 74;
    --error-background: 254 231 231;
    --error-text: 248 58 58;
    /* Product colors */
    --on-sale-text: 248 58 58;
    --on-sale-badge-background: 248 58 58;
    --on-sale-badge-text: 255 255 255;
    --sold-out-badge-background: 0 0 0;
    --sold-out-badge-text: 255 255 255;
    --primary-badge-background: 128 60 238;
    --primary-badge-text: 255 255 255;
    --star-color: 255 183 74;
    --product-card-background: 255 255 255;
    --product-card-text: 26 26 26;
    /* Header colors */
    --header-background: 240 240 240;
    --header-text: 26 26 26;
    /* Footer colors */
    --footer-background: 255 255 255;
    --footer-text: 26 26 26;
    /* Rounded variables (used for border radius) */
    --rounded-xs: 0.25rem;
    --rounded-sm: 0.375rem;
    --rounded: 0.75rem;
    --rounded-lg: 1.5rem;
    --rounded-full: 9999px;
    --rounded-button: 3.75rem;
    --rounded-input: 0.5rem;
    /* Box shadow */
    --shadow-sm: 0 2px 8px rgb(var(--text-primary) / 0.1);
    --shadow: 0 5px 15px rgb(var(--text-primary) / 0.1);
    --shadow-md: 0 5px 30px rgb(var(--text-primary) / 0.1);
    --shadow-block: 0px 18px 50px rgb(var(--text-primary) / 0.1);
    /**
    * ---------------------------------------------------------------------
    * OTHER
    * ---------------------------------------------------------------------
    */
    --cursor-close-svg-url: url(//mymonsteraudio.com/cdn/shop/t/9/assets/cursor-close.svg?v=147174565022153725511723046902);
    --cursor-zoom-in-svg-url: url(//mymonsteraudio.com/cdn/shop/t/9/assets/cursor-zoom-in.svg?v=154953035094101115921723046902);
    --cursor-zoom-out-svg-url: url(//mymonsteraudio.com/cdn/shop/t/9/assets/cursor-zoom-out.svg?v=16155520337305705181723046902);
    --checkmark-svg-url: url(//mymonsteraudio.com/cdn/shop/t/9/assets/checkmark.svg?v=77552481021870063511723046902);
}

[dir="rtl"]:root {
    /* RTL support */
    --transform-logical-flip: -1;
    --transform-origin-start: right;
    --transform-origin-end: left;
}

@media screen and (min-width: 700px) {
    :root {
        /* Typography (font size) */
        --text-h0: 4rem;
        --text-h1: 3rem;
        --text-h2: 2.5rem;
        --text-h3: 2rem;
        --text-h4: 1.625rem;
        --text-h5: 1.25rem;
        --text-h6: 1.125rem;
        --text-xs: 0.75rem;
        --text-sm: 0.875rem;
        --text-base: 1.0rem;
        --text-lg: 1.25rem;
        /* Spacing */
        --container-gutter: 2rem;
        --section-outer-spacing-block: var(--spacing-16);
        --section-inner-max-spacing-block: var(--spacing-12);
        --section-inner-spacing-inline: var(--spacing-12);
        --section-stack-spacing-block: var(--spacing-12);
        /* Grid gutter */
        --grid-gutter: var(--spacing-6);
        /* Product list settings */
        --product-list-row-gap: var(--spacing-12);
        /* Form settings */
        --input-gap: 1rem;
        --input-height: 3.125rem;
        --input-padding-inline: var(--spacing-5);
    }
}

@media screen and (min-width: 1000px) {
    :root {
        /* Spacing settings */
        --container-gutter: var(--spacing-12);
        --section-outer-spacing-block: var(--spacing-18);
        --section-inner-max-spacing-block: var(--spacing-16);
        --section-inner-spacing-inline: var(--spacing-16);
        --section-stack-spacing-block: var(--spacing-12);
    }
}

@media screen and (min-width: 1150px) {
    :root {
        /* Spacing settings */
        --container-gutter: var(--spacing-12);
        --section-outer-spacing-block: var(--spacing-20);
        --section-inner-max-spacing-block: var(--spacing-16);
        --section-inner-spacing-inline: var(--spacing-16);
        --section-stack-spacing-block: var(--spacing-12);
    }
}

@media screen and (min-width: 1400px) {
    :root {
        /* Typography (font size) */
        --text-h0: 5rem;
        --text-h1: 3.75rem;
        --text-h2: 3rem;
        --text-h3: 2.25rem;
        --text-h4: 2rem;
        --text-h5: 1.5rem;
        --text-h6: 1.25rem;
        --section-outer-spacing-block: var(--spacing-24);
        --section-inner-max-spacing-block: var(--spacing-18);
        --section-inner-spacing-inline: var(--spacing-18);
    }
}

@media screen and (min-width: 1600px) {
    :root {
        --section-outer-spacing-block: var(--spacing-24);
        --section-inner-max-spacing-block: var(--spacing-20);
        --section-inner-spacing-inline: var(--spacing-20);
    }
}

/**
    * ---------------------------------------------------------------------
    * LIQUID DEPENDANT CSS
    *
    * Our main CSS is Liquid free, but some very specific features depend on
    * theme settings, so we have them here
    * ---------------------------------------------------------------------
    */
@media screen and (pointer: fine) {

    .button:not([disabled]):hover,
    .btn:not([disabled]):hover,
    .shopify-payment-button__button--unbranded:not([disabled]):hover {
        --button-background-opacity: 0.85;
    }

    .button--subdued:not([disabled]):hover {
        --button-background: var(--text-color) / .05 !important;
    }
}

.__pf .pf-c-ct,
.__pf .pf-c-lt,
.__pf .pf-c-rt {
    align-content: flex-start
}

.__pf .oh,
.pf-sr-only {
    overflow: hidden
}

.__pf .pf-ifr,
.pf-no-border,
.pf-sr-only {
    border: 0
}

.__pf img,
.__pf video {
    max-width: 100%;
    border: 0;
    vertical-align: middle
}

.__pf [tabIndex],
.__pf button,
.__pf input,
.__pf select,
.__pf textarea {
    touch-action: manipulation
}

.__pf :focus-visible {
    outline: 0 !important;
    box-shadow: none !important
}

.__pf :not(input):not(select):not(textarea):focus-visible {
    border: none !important
}

.__pf *,
.__pf :after,
.__pf :before {
    box-sizing: border-box
}

.__pf [disabled],
.__pf [readonly] {
    cursor: default
}

.__pf [data-href],
.__pf button:not([data-pf-id]):hover {
    cursor: pointer
}

.__pf [disabled]:not([disabled=false]) {
    pointer-events: none
}

.__pf [hidden] {
    display: none !important
}

.__pf [data-link=inherit] {
    color: inherit;
    text-decoration: none
}

.__pf [data-pf-placeholder] {
    outline: 0;
    height: auto;
    display: none;
    pointer-events: none !important
}

.__pf .pf-ifr,
.__pf [style*="--ratio"] img {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute
}

.__pf .pf-r,
.__pf .pf-r-eh>.pf-c {
    display: flex
}

.__pf [style*="--cw"] {
    padding: 0 15px;
    width: 100%;
    margin: auto;
    max-width: var(--cw)
}

.__pf .pf-bg-lazy {
    background-image: none !important
}

.__pf .pf-r {
    flex-wrap: wrap
}

.__pf .pf-r-dg {
    display: grid
}

.__pf [style*="--c-xs"] {
    max-width: calc(100%/12*var(--c-xs));
    flex-basis: calc(100%/12*var(--c-xs))
}

.__pf [style*="--s-xs"] {
    margin: 0 calc(-1 * var(--s-xs))
}

.__pf [style*="--s-xs"]>.pf-c {
    padding: var(--s-xs)
}

.__pf .pf-r-ew>.pf-c {
    flex-grow: 1;
    flex-basis: 0
}

.__pf [style*="--ew-xs"]>.pf-c {
    flex-basis: calc(100% / var(--ew-xs));
    max-width: calc(100% / var(--ew-xs))
}

.__pf [style*="--ratio"] {
    position: relative;
    padding-bottom: var(--ratio)
}

.main-content {
    padding: 0
}

.footer-section,
.site-footer,
.site-footer-wrapper,
main .accent-background+.shopify-section {
    margin: 0
}

@media (max-width:767.4999px) {
    .__pf .pf-hide {
        display: none !important
    }
}

@media (max-width:1024.4999px) and (min-width:767.5px) {
    .__pf .pf-sm-hide {
        display: none !important
    }
}

@media (max-width:1199.4999px) and (min-width:1024.5px) {
    .__pf .pf-md-hide {
        display: none !important
    }
}

@media (min-width:767.5px) {
    .__pf [style*="--s-sm"] {
        margin: 0 calc(-1 * var(--s-sm))
    }

    .__pf [style*="--c-sm"] {
        max-width: calc(100%/12*var(--c-sm));
        flex-basis: calc(100%/12*var(--c-sm))
    }

    .__pf [style*="--s-sm"]>.pf-c {
        padding: var(--s-sm)
    }

    .__pf [style*="--ew-sm"]>.pf-c {
        flex-basis: calc(100% / var(--ew-sm));
        max-width: calc(100% / var(--ew-sm))
    }
}

@media (min-width:1024.5px) {
    .__pf [style*="--s-md"] {
        margin: 0 calc(-1 * var(--s-md))
    }

    .__pf [style*="--c-md"] {
        max-width: calc(100%/12*var(--c-md));
        flex-basis: calc(100%/12*var(--c-md))
    }

    .__pf [style*="--s-md"]>.pf-c {
        padding: var(--s-md)
    }

    .__pf [style*="--ew-md"]>.pf-c {
        flex-basis: calc(100% / var(--ew-md));
        max-width: calc(100% / var(--ew-md))
    }
}

@media (min-width:1199.5px) {
    .__pf [style*="--s-lg"] {
        margin: 0 calc(-1 * var(--s-lg))
    }

    .__pf [style*="--c-lg"] {
        max-width: calc(100%/12*var(--c-lg));
        flex-basis: calc(100%/12*var(--c-lg))
    }

    .__pf [style*="--s-lg"]>.pf-c {
        padding: var(--s-lg)
    }

    .__pf [style*="--ew-lg"]>.pf-c {
        flex-basis: calc(100% / var(--ew-lg));
        max-width: calc(100% / var(--ew-lg))
    }

    .__pf .pf-lg-hide {
        display: none !important
    }
}

.__pf .pf-r-eh>.pf-c>div {
    width: 100%
}

.__pf .pf-c-lt {
    justify-content: flex-start;
    align-items: flex-start
}

.__pf .pf-c-ct {
    justify-content: center;
    align-items: flex-start
}

.__pf .pf-c-rt {
    justify-content: flex-end;
    align-items: flex-start
}

.__pf .pf-c-lm {
    justify-content: flex-start;
    align-items: center;
    align-content: center
}

.__pf .pf-c-cm {
    justify-content: center;
    align-items: center;
    align-content: center
}

.__pf .pf-c-rm {
    justify-content: flex-end;
    align-items: center;
    align-content: center
}

.__pf .pf-c-cb,
.__pf .pf-c-lb,
.__pf .pf-c-rb {
    align-content: flex-end
}

.__pf .pf-c-lb {
    justify-content: flex-start;
    align-items: flex-end
}

.__pf .pf-c-cb {
    justify-content: center;
    align-items: flex-end
}

.__pf .pf-c-rb {
    justify-content: flex-end;
    align-items: flex-end
}

.pf-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%)
}

.pf-visibility-hidden {
    visibility: hidden
}

@media all {

    .__pf .pf-gs-button-1,
    .__pf .pf-gs-button-2,
    .__pf .pf-gs-button-3 {
        padding: 12px 20px;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0;
        margin: 0
    }

    .__pf {
        --pf-primary-color: rgb(250, 84, 28);
        --pf-secondary-color: rgb(121, 103, 192);
        --pf-foreground-color: rgb(28, 29, 31);
        --pf-background-color: rgb(244, 245, 250);
        --pf-primary-font: "Playfair Display";
        --pf-secondary-font: "Lato";
        --pf-tertiary-font: "Source Sans Pro"
    }

    .__pf .pf-gs-button-1 {
        background-color: #919da9;
        color: #fff
    }

    .__pf .pf-gs-button-2 {
        color: #919da9;
        border: 1px solid #919da9
    }

    .__pf .pf-gs-button-3 {
        background-color: #919da9;
        color: #fff;
        border-radius: 40px
    }

    .__pf .pf-gs-button-4 {
        color: #919da9;
        border-radius: 40px;
        border: 1px solid #919da9;
        padding: 12px 20px;
        margin: 0;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0
    }

    .__pf .pf-gs-button-5,
    .__pf .pf-gs-button-6 {
        color: #919da9;
        border-style: solid;
        border-color: #919da9;
        padding: 12px 20px;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0
    }

    .__pf .pf-gs-button-5 {
        border-width: 0 0 3px;
        margin: 0
    }

    .__pf .pf-gs-button-6 {
        border-width: 0 3px 3px 0;
        margin: 0
    }

    .__pf .pf-gs-icon-1,
    .__pf .pf-gs-icon-2 {
        background-color: #919da9;
        color: #fff;
        padding: 8px;
        margin: 0;
        border-style: none
    }

    .__pf .pf-gs-icon-1 {
        border-radius: 0
    }

    .__pf .pf-gs-icon-2 {
        border-radius: 50%
    }

    .__pf .pf-gs-icon-3,
    .__pf .pf-gs-icon-4 {
        background-color: #fff;
        color: #919da9;
        padding: 8px;
        margin: 0;
        border: 1px solid #919da9
    }

    .__pf .pf-gs-icon-4 {
        border-radius: 50%
    }

    .__pf .pf-gs-icon-5,
    .__pf .pf-gs-icon-6 {
        background-color: #f5f5f5;
        color: #919da9;
        padding: 8px;
        margin: 0;
        border: 1px solid #919da9
    }

    .__pf .pf-gs-icon-6 {
        border-radius: 50%
    }

    .__pf .pf-gs-image-1 {
        width: 100%
    }

    .__pf .pf-gs-image-2 {
        border: 3px solid #919da9;
        width: 100%
    }

    .__pf .pf-gs-image-3 {
        border: 3px solid #919da9;
        padding: 10px;
        width: 100%
    }

    .__pf .pf-gs-image-4,
    .__pf .pf-gs-image-5 {
        border-radius: 50%;
        width: 100%
    }

    .__pf .pf-gs-image-5 {
        border: 3px solid #919da9
    }

    .__pf .pf-gs-image-6 {
        border-radius: 50%;
        border: 3px solid #919da9;
        padding: 10px;
        width: 100%
    }

    .__pf .pf-gs-heading-1,
    .__pf .pf-gs-heading-2,
    .__pf .pf-gs-heading-3,
    .__pf .pf-gs-heading-4,
    .__pf .pf-gs-heading-5 {
        color: #000;
        padding: 0;
        margin: 18px 0
    }

    .__pf .pf-gs-heading-1 {
        font-size: 32px
    }

    .__pf .pf-gs-heading-2 {
        font-size: 24px
    }

    .__pf .pf-gs-heading-3 {
        font-size: 20px
    }

    .__pf .pf-gs-heading-4 {
        font-size: 18px
    }

    .__pf .pf-gs-heading-5 {
        font-size: 16px
    }

    .__pf .pf-gs-heading-6 {
        margin: 18px 0;
        font-size: 14px;
        color: #000;
        padding: 0
    }

    .__pf .pf-gs-paragraph-1,
    .__pf .pf-gs-paragraph-2,
    .__pf .pf-gs-paragraph-3,
    .__pf .pf-gs-paragraph-4 {
        color: #000;
        padding: 0;
        margin: 16px 0;
        font-size: 16px
    }

    .__pf .pf-gs-paragraph-1 {
        text-align: left
    }

    .__pf .pf-gs-paragraph-2 {
        text-align: right
    }

    .__pf .pf-gs-paragraph-3 {
        text-align: center
    }

    .__pf .pf-gs-divider-1,
    .__pf .pf-gs-divider-2,
    .__pf .pf-gs-divider-3 {
        padding: 16px 0;
        margin: 0;
        font-size: 2px
    }

    .__pf .pf-gs-divider-1 {
        color: #919da9
    }

    .__pf .pf-gs-divider-2 {
        color: #444749
    }

    .__pf .pf-gs-divider-3 {
        color: #b9bfca
    }
}

.pf-color-scheme-1,
.pf-color-scheme-2 {
    --pf-scheme-shadow-color: rgb(0, 0, 0, 0.25)
}

.pf-color-scheme-1 {
    --pf-scheme-bg-color: ;
    --pf-scheme-text-color: ;
    --pf-scheme-btn-bg-color: ;
    --pf-scheme-btn-text-color: ;
    --pf-scheme-border-color: ;
    background-color: var(--pf-scheme-bg-color);
    background-image: var(--pf-scheme-bg-gradient-color);
    border-color: var(--pf-scheme-border-color);
    color: var(--pf-scheme-text-color)
}

.pf-color-scheme-2,
.pf-color-scheme-3 {
    --pf-scheme-btn-text-color: rgb(255, 255, 255);
    background-color: var(--pf-scheme-bg-color);
    background-image: var(--pf-scheme-bg-gradient-color);
    border-color: var(--pf-scheme-border-color);
    color: var(--pf-scheme-text-color)
}

.pf-color-scheme-2 {
    --pf-scheme-bg-color: rgba(255, 255, 255, 0);
    --pf-scheme-text-color: rgb(0, 0, 0);
    --pf-scheme-btn-bg-color: rgb(145, 157, 169);
    --pf-scheme-border-color: rgba(0, 0, 0)
}

.pf-color-scheme-3,
.pf-color-scheme-4 {
    --pf-scheme-text-color: rgb(18, 18, 18);
    --pf-scheme-btn-bg-color: rgb(18, 18, 18);
    --pf-scheme-border-color: rgb(18, 18, 18)
}

.pf-color-scheme-3 {
    --pf-scheme-bg-color: rgb(255, 255, 255);
    --pf-scheme-shadow-color: rgb(18, 18, 18)
}

.pf-color-scheme-4 {
    --pf-scheme-bg-color: rgb(243, 243, 243);
    --pf-scheme-btn-text-color: rgb(243, 243, 243);
    --pf-scheme-shadow-color: rgb(18, 18, 18);
    background-color: var(--pf-scheme-bg-color);
    background-image: var(--pf-scheme-bg-gradient-color);
    border-color: var(--pf-scheme-border-color);
    color: var(--pf-scheme-text-color)
}

.pf-color-scheme-5,
.pf-color-scheme-6,
.pf-color-scheme-7 {
    --pf-scheme-text-color: rgb(255, 255, 255);
    --pf-scheme-btn-bg-color: rgb(255, 255, 255);
    --pf-scheme-border-color: rgb(255, 255, 255);
    --pf-scheme-shadow-color: rgb(18, 18, 18);
    background-color: var(--pf-scheme-bg-color);
    background-image: var(--pf-scheme-bg-gradient-color);
    border-color: var(--pf-scheme-border-color);
    color: var(--pf-scheme-text-color)
}

.pf-color-scheme-5 {
    --pf-scheme-bg-color: rgb(36, 40, 51);
    --pf-scheme-btn-text-color: rgb(0, 0, 0)
}

.pf-color-scheme-6 {
    --pf-scheme-bg-color: rgb(18, 18, 18);
    --pf-scheme-btn-text-color: rgb(18, 18, 18)
}

.pf-color-scheme-7 {
    --pf-scheme-bg-color: rgb(51, 79, 180);
    --pf-scheme-btn-text-color: rgb(51, 79, 180)
}

[data-pf-type^=Button] {
    background-color: var(--pf-scheme-btn-bg-color);
    background-image: var(--pf-scheme-btn-bg-gradient-color);
    color: var(--pf-scheme-btn-text-color)
}

@media all {

    .__pf .pf-button-1,
    .__pf .pf-button-2 {
        color: #fff;
        background-color: #919da9
    }

    .__pf .pf-button-2,
    .__pf .pf-button-3,
    .__pf .pf-button-4 {
        padding: 12px 20px;
        margin: 0;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0
    }

    .__pf .pf-button-1 {
        padding: 12px 20px
    }

    .__pf .pf-button-3 {
        color: #919da9;
        border: 1px solid #919da9
    }

    .__pf .pf-button-4 {
        background-color: #919da9;
        color: #fff;
        border-radius: 40px
    }

    .__pf .pf-button-5 {
        color: #919da9;
        border-radius: 40px;
        border: 1px solid #919da9;
        padding: 12px 20px;
        margin: 0;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0
    }

    .__pf .pf-button-6,
    .__pf .pf-button-7 {
        color: #919da9;
        border-style: solid;
        border-color: #919da9;
        padding: 12px 20px;
        margin: 0;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0
    }

    .__pf .pf-button-6 {
        border-width: 0 0 3px
    }

    .__pf .pf-button-7 {
        border-width: 0 3px 3px 0
    }

    .__pf .pf-icon-1,
    .__pf .pf-text-1,
    .__pf .pf-text-6,
    .__pf .pf-text-7,
    .pf-icon2-1,
    .pf-icon2-2,
    .pf-icon2-3,
    .pf-icon2-4,
    .pf-icon2-5,
    .pf-icon2-6,
    .pf-icon2-7 {
        background-color: var(--pf-scheme-bg-color);
        color: var(--pf-scheme-text-color)
    }

    .__pf .pf-icon-2,
    .__pf .pf-icon-3 {
        background-color: #919da9;
        color: #fff;
        padding: 8px;
        margin: 0;
        border-style: none
    }

    .__pf .pf-icon-2 {
        border-radius: 0
    }

    .__pf .pf-icon-3 {
        border-radius: 50%
    }

    .__pf .pf-icon-4,
    .__pf .pf-icon-5 {
        background-color: #fff;
        color: #919da9;
        padding: 8px;
        margin: 0;
        border: 1px solid #919da9
    }

    .__pf .pf-icon-5 {
        border-radius: 50%
    }

    .__pf .pf-icon-6,
    .__pf .pf-icon-7 {
        background-color: #f5f5f5;
        color: #919da9;
        padding: 8px;
        margin: 0;
        border: 1px solid #919da9
    }

    .__pf .pf-icon-7 {
        border-radius: 50%
    }

    .__pf .pf-image-2 {
        width: 100%
    }

    .__pf .pf-image-3 {
        border: 3px solid #919da9;
        width: 100%
    }

    .__pf .pf-image-4 {
        border: 3px solid #919da9;
        padding: 10px;
        width: 100%
    }

    .__pf .pf-image-5,
    .__pf .pf-image-6 {
        border-radius: 50%;
        width: 100%
    }

    .__pf .pf-image-6 {
        border: 3px solid #919da9
    }

    .__pf .pf-image-7 {
        border-radius: 50%;
        border: 3px solid #919da9;
        padding: 10px;
        width: 100%
    }

    .__pf .pf-text-2,
    .__pf .pf-text-3,
    .__pf .pf-text-4,
    .__pf .pf-text-5 {
        color: #000;
        padding: 0;
        margin: 16px 0;
        font-size: 16px
    }

    .__pf .pf-text-2 {
        text-align: left
    }

    .__pf .pf-text-3 {
        text-align: right
    }

    .__pf .pf-text-4 {
        text-align: center
    }

    .__pf .pf-divider-2,
    .__pf .pf-divider-3,
    .__pf .pf-divider-4 {
        padding: 16px 0;
        margin: 0;
        font-size: 2px
    }

    .__pf .pf-divider-1 {
        color: var(--pf-scheme-text-color)
    }

    .__pf .pf-divider-2 {
        color: #919da9
    }

    .__pf .pf-divider-3 {
        color: #444749
    }

    .__pf .pf-divider-4 {
        color: #b9bfca
    }

    .__pf .pf-heading-1-h1,
    .__pf .pf-heading-1-h2,
    .__pf .pf-heading-1-h3,
    .__pf .pf-heading-1-h4,
    .__pf .pf-heading-1-h5,
    .__pf .pf-heading-1-h6 {
        color: var(--pf-scheme-text-color);
        background-color: var(--pf-scheme-bg-color)
    }

    .__pf .pf-heading-2-h1,
    .__pf .pf-heading-2-h2,
    .__pf .pf-heading-2-h3,
    .__pf .pf-heading-2-h4,
    .__pf .pf-heading-2-h5,
    .__pf .pf-heading-2-h6 {
        margin: 18px 0;
        font-size: 32px;
        color: #000;
        padding: 0
    }

    .__pf .pf-heading-3-h1,
    .__pf .pf-heading-3-h2,
    .__pf .pf-heading-3-h3,
    .__pf .pf-heading-3-h4,
    .__pf .pf-heading-3-h5,
    .__pf .pf-heading-3-h6 {
        margin: 18px 0;
        font-size: 24px;
        color: #000;
        padding: 0
    }

    .__pf .pf-heading-4-h1,
    .__pf .pf-heading-4-h2,
    .__pf .pf-heading-4-h3,
    .__pf .pf-heading-4-h4,
    .__pf .pf-heading-4-h5,
    .__pf .pf-heading-4-h6 {
        margin: 18px 0;
        font-size: 20px;
        color: #000;
        padding: 0
    }

    .__pf .pf-heading-5-h1,
    .__pf .pf-heading-5-h2,
    .__pf .pf-heading-5-h3,
    .__pf .pf-heading-5-h4,
    .__pf .pf-heading-5-h5,
    .__pf .pf-heading-5-h6 {
        margin: 18px 0;
        font-size: 18px;
        color: #000;
        padding: 0
    }

    .__pf .pf-heading-6-h1,
    .__pf .pf-heading-6-h2,
    .__pf .pf-heading-6-h3,
    .__pf .pf-heading-6-h4,
    .__pf .pf-heading-6-h5,
    .__pf .pf-heading-6-h6 {
        margin: 18px 0;
        font-size: 16px;
        color: #000;
        padding: 0
    }

    .__pf .pf-heading-7-h1,
    .__pf .pf-heading-7-h2,
    .__pf .pf-heading-7-h3,
    .__pf .pf-heading-7-h4,
    .__pf .pf-heading-7-h5,
    .__pf .pf-heading-7-h6 {
        margin: 18px 0;
        font-size: 14px;
        color: #000;
        padding: 0
    }

    .__pf .pf-field-1,
    .__pf .pf-field-2,
    .__pf .pf-field-3,
    .__pf .pf-field-4,
    .__pf .pf-field-5,
    .__pf .pf-field-6 {
        background-color: #fdfdfd;
        border: .66px solid #8a8a8a;
        border-radius: 8px;
        padding: 6px 12px
    }
}

.faABcD .pfa,
.gpuBwB i {
    margin-right: 5px
}

.faABcD,
.jLwrwq {
    display: inline-block
}

.cJmrRg,
.csSHAS,
.gUmbDa,
.gjNMyZ,
.jLwrwq {
    position: relative
}

.faABcD,
.gIkzjG[data-pf-type=ProductText].no-product {
    text-decoration: none
}

.IEmHl,
.faABcD {
    text-align: center
}

.fLvWek {
    --pf-sample-color: #5d6b82;
    --pf-border-color: #d1d5db
}

.faABcD {
    line-height: 1;
    padding: 12px 20px;
    outline: 0
}

.faABcD span {
    color: inherit
}

.gpuBwB i {
    vertical-align: middle
}

.jLwrwq {
    max-width: 100%
}

.jLwrwq img {
    width: 100%;
    height: 100%;
    border-radius: inherit
}

.gUmbDa:empty {
    display: initial
}

.gjNMyZ {
    padding: 20px 0
}

.cVLihF>span:last-child {
    line-height: inherit;
    display: block;
    margin-right: 0 !important
}

.csSHAS {
    transition: opacity .3s linear 2s
}

.csSHAS.glider-loading>* {
    opacity: .5 !important
}

.csSHAS:not([style]):before {
    content: '';
    position: absolute;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #000;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: 2s linear infinite pf-spin;
    z-index: 1;
    top: calc(50% - 16px);
    left: calc(50% - 16px)
}

@keyframes pf-spin {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.csSHAS .glider-hide,
.csSHAS .glider-nav.disabled,
.csSHAS:not([style])>* {
    opacity: 0
}

.csSHAS .glider {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    overflow-y: hidden
}

.csSHAS .glider::-webkit-scrollbar {
    opacity: 0;
    height: 0
}

.csSHAS .glider,
.csSHAS .glider-track {
    transform: translateZ(0);
    backface-visibility: hidden
}

.csSHAS .glider-dot,
.csSHAS .glider-nav {
    border: 0;
    padding: 0;
    user-select: none;
    outline: 0;
    -webkit-appearance: none;
    display: initial;
    min-width: initial
}

.MSBLf,
.boRCl[class*=pf-c-],
.csSHAS .glider-dots,
.gwYwub {
    display: flex
}

.csSHAS .glider-track {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 1
}

.csSHAS .glider.draggable {
    user-select: none;
    cursor: grab
}

.csSHAS .glider.draggable .glider-slide img {
    user-select: none;
    pointer-events: auto
}

.csSHAS .glider.drag {
    cursor: grabbing
}

.csSHAS .glider-slide {
    user-select: none;
    justify-content: center;
    align-content: center;
    width: 100%
}

.csSHAS .glider-nav {
    width: 40px;
    height: 40px;
    position: absolute;
    font-size: 20px;
    top: calc(50% - 20px);
    cursor: pointer;
    transition: .35s;
    line-height: 1
}

.csSHAS .glider-nav:after,
.csSHAS .glider-nav:before {
    content: '';
    position: absolute;
    background: #fff
}

.csSHAS .glider-nav-1:after,
.csSHAS .glider-nav-1:before {
    width: 1px;
    height: 8px
}

.csSHAS .glider-nav-1:before {
    transform: rotate(45deg);
    top: 19px
}

.csSHAS .glider-nav-1:after {
    transform: rotate(-45deg);
    top: 14px
}

.csSHAS .glider-nav-2:before {
    height: 2px;
    width: 12px;
    left: 12px;
    top: calc(50% - 1px)
}

.csSHAS .glider-nav-2:after {
    border: 4px solid transparent;
    border-left: 4px solid #fff;
    background: 0 0;
    top: calc(50% - 4px);
    right: 8px
}

.csSHAS.glider-n-1 .glider-nav {
    border-radius: 50%;
    background: rgba(0, 0, 0, .4)
}

.csSHAS .glider-d-1 .glider-dot.active,
.csSHAS .glider-d-1 .glider-dot:hover,
.csSHAS .glider-d-2 .glider-dot.active:before,
.csSHAS.glider-n-1 .glider-nav:hover {
    background: #000
}

.MSBLf span,
.csSHAS .glider-d-3 .glider-dot.active:before {
    background: #fff
}

.csSHAS.glider-n-2 .glider-nav {
    background: #000;
    border-radius: 3px;
    opacity: 0
}

.csSHAS.glider-n-2 .glider-prev {
    left: 40px
}

.csSHAS.glider-n-2 .glider-next {
    right: 40px
}

.csSHAS.glider-n-2x .glider-nav {
    background: 0 0
}

.csSHAS.glider-n-2x .glider-nav:after,
.csSHAS.glider-n-2x .glider-nav:before {
    box-shadow: 0 0 3px #000
}

.csSHAS.glider-n-3 .glider-nav {
    top: auto;
    bottom: 20px;
    background: #000;
    border-radius: 3px
}

.csSHAS.glider-n-2:hover .glider-nav:not(.disabled) {
    opacity: 1
}

.csSHAS.glider-n-2:hover .glider-prev {
    left: 20px
}

.csSHAS .glider-next,
.csSHAS.glider-n-2:hover .glider-next {
    right: 20px
}

.csSHAS .glider-prev {
    left: 20px;
    transform: rotate(180deg)
}

.csSHAS .glider-dots {
    position: absolute;
    bottom: 15px;
    justify-content: center;
    width: 100%
}

.csSHAS .glider-dot {
    cursor: pointer;
    min-height: initial;
    margin: 0 5px
}

.csSHAS .glider-d-1 .glider-dot {
    width: 20px;
    height: 5px;
    background: rgba(0, 0, 0, .4)
}

.csSHAS .glider-d-2 .glider-dot,
.csSHAS .glider-d-3 .glider-dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: 0 0;
    border: 2px solid;
    position: relative
}

.csSHAS .glider-d-2 .glider-dot.active:before,
.csSHAS .glider-d-3 .glider-dot.active:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 2px;
    left: 2px
}

.csSHAS .glider-d-2 .glider-dot {
    border-color: #000
}

.csSHAS .glider-d-3 .glider-dot {
    border-color: #fff
}

.csSHAS [style*='--g-xs'] {
    margin: 0 calc(-1 * var(--g-xs))
}

.csSHAS [style*='--g-xs'] .glide-wrapper {
    padding: 0 var(--g-xs)
}

@media (min-width:1024.5px) {
    .csSHAS .glider {
        overflow: hidden
    }
}

.jMCEl.glider-loading,
.jMCEl.glider-loading .glider {
    height: px
}

.jMCEl .glider-track {
    transition: height .3s ease-in-out
}

.boRCl {
    width: 100%;
    height: 100%
}

.bepTSx {
    height: unset
}

.bepTSx .glide-container {
    display: block;
    height: fit-content
}

.gnxOPk {
    width: 100%;
    max-width: 100%
}

.gnxOPk .embed-container,
.gnxOPk .fluid-width-video-wrapper,
.gnxOPk .lazyframe,
.gnxOPk .lazyframe:before,
.gnxOPk .mediaWrapper,
.gnxOPk .video-wrapper {
    position: initial !important;
    padding: 0
}

.gIkzjG {
    overflow-wrap: break-word
}

.dDnnxE,
.iLVJMp {
    overflow: hidden
}

.dDnnxE {
    user-select: none
}

.MSBLf {
    position: absolute;
    bottom: 8px;
    z-index: 2
}

.MSBLf span {
    border: 1px solid #555;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    opacity: .5;
    margin: 2px
}

.MSBLf span[data-active=true] {
    background: #555;
    opacity: 1
}

.IEmHl {
    position: absolute;
    z-index: 1;
    width: 32px;
    height: 32px;
    line-height: 34px;
    cursor: pointer;
    background: rgba(255, 255, 255, .35);
    border-radius: 2px;
    color: var(--pf-sample-color)
}

.gwYwub,
.iLVJMp {
    position: relative
}

.gwYwub,
.kVPWjp {
    width: 100%
}

.iLVJMp img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.iLVJMp:after {
    content: '';
    display: block;
    padding-bottom: 100%
}

.gwYwub {
    align-items: center;
    justify-content: center
}

.gwYwub::after {
    display: block;
    content: '';
    padding-bottom: 75%
}

.gwYwub.gwYwub img {
    position: absolute;
    object-fit: contain;
    max-height: 100%;
    height: 100%;
    width: auto
}

.kVPWjp[style*="--g-xs"],
.kVPWjp[style*="--g-xs"] .pf-r-dg {
    grid-gap: var(--g-xs)
}

.kVPWjp .pf-r-dg {
    grid-auto-flow: row
}

.kVPWjp [data-pf-nav] {
    top: calc(50% - 16px)
}

.kVPWjp [data-pf-nav=prev] {
    left: 15px
}

.kVPWjp [data-pf-nav=next] {
    right: 15px
}

@media all {

    .__pf.__pf_1zPX_ElT .pf-21_,
    .__pf.__pf_1zPX_ElT .pf-32_,
    .__pf.__pf_1zPX_ElT .pf-43_ {
        display: inline-block;
        box-shadow: rgba(180, 180, 180, .4) 0 0 20px;
        transition: .3s ease-in;
        min-width: 300px;
        /* font-family: Oswald; */
        border-radius: 1em
    }

    .__pf.__pf_1zPX_ElT .pf-11_,
    .__pf.__pf_1zPX_ElT .pf-55_,
    .__pf.__pf_1zPX_ElT .pf-6_,
    .__pf.__pf_1zPX_ElT .pf-7_ {
        padding-top: 0;
        padding-bottom: 0
    }

    .__pf.__pf_1zPX_ElT .pf-10_ {
        width: 100% !important;
        max-height: 90vh !important;
        object-fit: cover !important
    }

    .__pf.__pf_1zPX_ElT .pf-14_ {
        z-index: 10;
        height: auto;
        padding-top: 15px;
        width: 100%
    }

    .__pf.__pf_1zPX_ElT .pf-17_ {
        font-size: 4em;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0;
        color: red;
        /* font-family: Oswald; */
        padding-top: 0;
        padding-bottom: 25px;
        margin-top: 0
    }

    .__pf.__pf_1zPX_ElT .pf-20_ {
        max-width: 80%;
        text-align: center;
        margin: auto
    }

    .__pf.__pf_1zPX_ElT .pf-21_ {
        padding: 20px 50px 49px;
        background-color: #fff;
        height: 650px;
        margin-bottom: 0
    }

    .__pf.__pf_1zPX_ElT .pf-22_ {
        font-size: 36px;
        margin-top: 36px;
        margin-bottom: 0;
        /* font-family: Oswald; */
        height: 135px;
        text-align: center
    }

    .__pf.__pf_1zPX_ElT .pf-23_ {
        margin-bottom: 0;
        padding-bottom: 10px
    }

    .__pf.__pf_1zPX_ElT .pf-26_ {
        font-size: 30px;
        margin-bottom: 18px;
        margin-top: 0
    }

    .__pf.__pf_1zPX_ElT .pf-29_,
    .__pf.__pf_1zPX_ElT .pf-51_ {
        background-color: #e00f0f;
        border-color: #f81c1c;
        color: #fff;
        border-radius: 1em;
        padding: 15px 75px;
        font-weight: 500;
        font-size: .8rem;
        max-width: 333px
    }

    .__pf.__pf_1zPX_ElT .pf-32_,
    .__pf.__pf_1zPX_ElT .pf-43_ {
        padding: 49px 50px;
        background-color: #fff;
        height: 650px;
        margin-bottom: 0
    }

    .__pf.__pf_1zPX_ElT .pf-33_ {
        font-size: 36px;
        /* font-family: Oswald; */
        height: 135px;
        text-align: center;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-top: 0
    }

    .__pf.__pf_1zPX_ElT .pf-34_,
    .__pf.__pf_1zPX_ElT .pf-45_ {
        margin-bottom: 0
    }

    .__pf.__pf_1zPX_ElT .pf-37_ {
        font-size: 30px;
        margin-bottom: 15px;
        margin-top: 20px
    }

    .__pf.__pf_1zPX_ElT .pf-40_ {
        background-color: #e00f0f;
        border-color: #f81c1c;
        color: #fff;
        border-radius: 1em;
        padding: 15px 75px;
        font-weight: 500;
        font-size: .8rem;
        max-width: 333px;
        margin-bottom: 0
    }

    .__pf.__pf_1zPX_ElT .pf-44_ {
        font-size: 36px;
        /* font-family: Oswald; */
        height: 135px;
        margin-bottom: 0;
        text-align: center;
        margin-top: 0
    }

    .__pf.__pf_1zPX_ElT .pf-57_,
    .__pf.__pf_1zPX_ElT .pf-72_ {
        background-size: cover;
        background-repeat: no-repeat;
        height: 90vh;
        background-position: center bottom
    }

    .__pf.__pf_1zPX_ElT .pf-48_ {
        font-size: 30px;
        margin-bottom: 15px
    }

    .__pf.__pf_1zPX_ElT .pf-54_ {
        margin-bottom: 50px
    }

    .__pf.__pf_1zPX_ElT .pf-56_ {
        background-image: url("https://cdn.shopify.com/s/files/1/0319/8789/2355/files/1D1A0049.jpg?v=1733961933")
    }

    .__pf.__pf_1zPX_ElT .pf-57_ {
        padding: 180px 0;
        background-image: url("https://cdn.shopify.com/s/files/1/0319/8789/2355/files/for_web.jpg?v=1734041345")
    }

    .__pf.__pf_1zPX_ElT .pf-59_,
    .__pf.__pf_1zPX_ElT .pf-74_ {
        text-align: center;
        background-color: rgba(0, 0, 0, .37);
        color: red;
        padding-top: 15px;
        padding-bottom: 15px
    }

    .__pf.__pf_1zPX_ElT .pf-60_,
    .__pf.__pf_1zPX_ElT .pf-75_ {
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 0;
        color: #fff
    }

    .__pf.__pf_1zPX_ElT .pf-63_,
    .__pf.__pf_1zPX_ElT .pf-78_ {
        font-size: 56px;
        margin-top: 0;
        color: #fff
    }

    .__pf.__pf_1zPX_ElT .pf-66_,
    .__pf.__pf_1zPX_ElT .pf-81_ {
        font-size: 18px;
        line-height: 26px;
        color: #fff;
        max-width: 600px;
        text-align: center;
        margin: auto auto 15px
    }

    .__pf.__pf_1zPX_ElT .pf-69_,
    .__pf.__pf_1zPX_ElT .pf-84_ {
        background-color: #e00f0f;
        border-color: #f81c1c;
        color: #fff;
        border-radius: 1em;
        padding: 15px 75px;
        font-weight: 500;
        font-size: .8rem;
        max-width: 333px;
        margin-top: 15px;
        margin-bottom: 15px
    }

    .__pf.__pf_1zPX_ElT .pf-72_ {
        padding: 180px 0;
        background-image: url("https://cdn.shopify.com/s/files/1/0319/8789/2355/files/Slide8.jpg?v=1723832767")
    }

    .__pf.__pf_1zPX_ElT .pf-89_,
    .__pf.__pf_1zPX_ElT .pf-92_ {
        color: #4d1919
    }

    .__pf.__pf_1zPX_ElT .pf-97_ {
        font-size: 3.5em;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0;
        color: red;
        font-family: Roboto
    }

    .__pf.__pf_1zPX_ElT .pf-100_ {
        max-width: 80vw;
        margin: 0 auto 100px
    }

    .__pf.__pf_1zPX_ElT .pf-104_,
    .__pf.__pf_1zPX_ElT .pf-104_>img,
    .__pf.__pf_1zPX_ElT .pf-106_,
    .__pf.__pf_1zPX_ElT .pf-106_>img,
    .__pf.__pf_1zPX_ElT .pf-110_,
    .__pf.__pf_1zPX_ElT .pf-110_>img,
    .__pf.__pf_1zPX_ElT .pf-112_,
    .__pf.__pf_1zPX_ElT .pf-112_>img,
    .__pf.__pf_1zPX_ElT .pf-116_,
    .__pf.__pf_1zPX_ElT .pf-116_>img,
    .__pf.__pf_1zPX_ElT .pf-118_,
    .__pf.__pf_1zPX_ElT .pf-118_>img,
    .__pf.__pf_1zPX_ElT .pf-14_>img {
        height: auto
    }

    .__pf.__pf_1zPX_ElT .pf-23_>div>div:first-child,
    .__pf.__pf_1zPX_ElT .pf-34_>div>div:first-child,
    .__pf.__pf_1zPX_ElT .pf-45_>div>div:first-child {
        height: 274px
    }
}

@media (min-width:1024.5px) and (max-width:1199.4999px) {
    .__pf.__pf_1zPX_ElT .pf-10_ {
        width: 100% !important
    }

    .__pf.__pf_1zPX_ElT .pf-104_,
    .__pf.__pf_1zPX_ElT .pf-104_>img,
    .__pf.__pf_1zPX_ElT .pf-106_,
    .__pf.__pf_1zPX_ElT .pf-106_>img,
    .__pf.__pf_1zPX_ElT .pf-110_,
    .__pf.__pf_1zPX_ElT .pf-110_>img,
    .__pf.__pf_1zPX_ElT .pf-112_,
    .__pf.__pf_1zPX_ElT .pf-112_>img,
    .__pf.__pf_1zPX_ElT .pf-116_,
    .__pf.__pf_1zPX_ElT .pf-116_>img,
    .__pf.__pf_1zPX_ElT .pf-118_,
    .__pf.__pf_1zPX_ElT .pf-118_>img,
    .__pf.__pf_1zPX_ElT .pf-14_,
    .__pf.__pf_1zPX_ElT .pf-14_>img {
        height: auto
    }
}

@media (min-width:767.5px) and (max-width:1024.4999px) {
    .__pf.__pf_1zPX_ElT .pf-10_ {
        width: 100% !important
    }

    .__pf.__pf_1zPX_ElT .pf-14_ {
        width: 100%;
        height: auto;
        display: none
    }

    .__pf.__pf_1zPX_ElT .pf-104_,
    .__pf.__pf_1zPX_ElT .pf-104_>img,
    .__pf.__pf_1zPX_ElT .pf-106_,
    .__pf.__pf_1zPX_ElT .pf-106_>img,
    .__pf.__pf_1zPX_ElT .pf-110_,
    .__pf.__pf_1zPX_ElT .pf-110_>img,
    .__pf.__pf_1zPX_ElT .pf-112_,
    .__pf.__pf_1zPX_ElT .pf-112_>img,
    .__pf.__pf_1zPX_ElT .pf-116_,
    .__pf.__pf_1zPX_ElT .pf-116_>img,
    .__pf.__pf_1zPX_ElT .pf-118_,
    .__pf.__pf_1zPX_ElT .pf-118_>img,
    .__pf.__pf_1zPX_ElT .pf-14_>img {
        height: auto
    }

    .__pf.__pf_1zPX_ElT .pf-55_ {
        background-image: url("https://cdn.shopify.com/s/files/1/0319/8789/2355/t/4/assets/pf-1171dd71-5373-4f44-aa97-0d56350f8cb8--wavehorizont1.jpg?v=1581451202&selected");
        background-position: 50% 50%;
        background-size: cover
    }

    .__pf.__pf_1zPX_ElT .pf-54_ {
        display: flex;
        flex-flow: wrap;
        align-items: center
    }
}

@media (max-width:767.4999px) {
    .__pf.__pf_1zPX_ElT .pf-10_ {
        object-fit: cover;
        width: 100% !important
    }

    .__pf.__pf_1zPX_ElT .pf-14_ {
        height: auto;
        width: 100%
    }

    .__pf.__pf_1zPX_ElT .pf-14_>img {
        height: auto
    }

    .__pf.__pf_1zPX_ElT .pf-17_ {
        margin-bottom: 0;
        font-size: 36px
    }

    .__pf.__pf_1zPX_ElT .pf-22_,
    .__pf.__pf_1zPX_ElT .pf-33_,
    .__pf.__pf_1zPX_ElT .pf-44_ {
        font-size: 26px;
        height: auto
    }

    .__pf.__pf_1zPX_ElT .pf-21_,
    .__pf.__pf_1zPX_ElT .pf-32_,
    .__pf.__pf_1zPX_ElT .pf-43_ {
        width: 300px
    }

    .__pf.__pf_1zPX_ElT .pf-60_,
    .__pf.__pf_1zPX_ElT .pf-63_,
    .__pf.__pf_1zPX_ElT .pf-75_,
    .__pf.__pf_1zPX_ElT .pf-78_ {
        font-size: 24px
    }

    .__pf.__pf_1zPX_ElT .pf-66_,
    .__pf.__pf_1zPX_ElT .pf-81_ {
        font-size: 14px;
        line-height: 22px
    }

    .__pf.__pf_1zPX_ElT .pf-91_ {
        font-size: 16px;
        text-align: justify
    }

    .__pf.__pf_1zPX_ElT .pf-104_,
    .__pf.__pf_1zPX_ElT .pf-106_,
    .__pf.__pf_1zPX_ElT .pf-110_,
    .__pf.__pf_1zPX_ElT .pf-112_,
    .__pf.__pf_1zPX_ElT .pf-116_,
    .__pf.__pf_1zPX_ElT .pf-118_ {
        height: auto;
        width: 580px
    }

    .__pf.__pf_1zPX_ElT .pf-104_>img {
        height: auto
    }

    .__pf.__pf_1zPX_ElT .pf-106_>img {
        height: auto
    }

    .__pf.__pf_1zPX_ElT .pf-110_>img {
        height: auto
    }

    .__pf.__pf_1zPX_ElT .pf-112_>img {
        height: auto
    }

    .__pf.__pf_1zPX_ElT .pf-116_>img {
        height: auto
    }

    .__pf.__pf_1zPX_ElT .pf-118_>img {
        height: auto
    }
}

.pfa {
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900) !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto
}

@-webkit-keyframes fa-beat {

    0%,
    90% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    45% {
        -webkit-transform: scale(var(--fa-beat-scale, 1.25));
        transform: scale(var(--fa-beat-scale, 1.25))
    }
}

@keyframes fa-beat {

    0%,
    90% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    45% {
        -webkit-transform: scale(var(--fa-beat-scale, 1.25));
        transform: scale(var(--fa-beat-scale, 1.25))
    }
}

@-webkit-keyframes fa-bounce {

    0%,
    64%,
    to {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0)
    }

    10% {
        -webkit-transform: scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, .9)) translateY(0);
        transform: scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, .9)) translateY(0)
    }

    30% {
        -webkit-transform: scale(var(--fa-bounce-jump-scale-x, .9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -.5em));
        transform: scale(var(--fa-bounce-jump-scale-x, .9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -.5em))
    }

    50% {
        -webkit-transform: scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, .95)) translateY(0);
        transform: scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, .95)) translateY(0)
    }

    57% {
        -webkit-transform: scale(1) translateY(var(--fa-bounce-rebound, -.125em));
        transform: scale(1) translateY(var(--fa-bounce-rebound, -.125em))
    }
}

@keyframes fa-bounce {

    0%,
    64%,
    to {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0)
    }

    10% {
        -webkit-transform: scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, .9)) translateY(0);
        transform: scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, .9)) translateY(0)
    }

    30% {
        -webkit-transform: scale(var(--fa-bounce-jump-scale-x, .9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -.5em));
        transform: scale(var(--fa-bounce-jump-scale-x, .9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -.5em))
    }

    50% {
        -webkit-transform: scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, .95)) translateY(0);
        transform: scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, .95)) translateY(0)
    }

    57% {
        -webkit-transform: scale(1) translateY(var(--fa-bounce-rebound, -.125em));
        transform: scale(1) translateY(var(--fa-bounce-rebound, -.125em))
    }
}

@-webkit-keyframes fa-fade {
    50% {
        opacity: var(--fa-fade-opacity, .4)
    }
}

@keyframes fa-fade {
    50% {
        opacity: var(--fa-fade-opacity, .4)
    }
}

@-webkit-keyframes fa-beat-fade {

    0%,
    to {
        opacity: var(--fa-beat-fade-opacity, .4);
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(var(--fa-beat-fade-scale, 1.125));
        transform: scale(var(--fa-beat-fade-scale, 1.125))
    }
}

@keyframes fa-beat-fade {

    0%,
    to {
        opacity: var(--fa-beat-fade-opacity, .4);
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(var(--fa-beat-fade-scale, 1.125));
        transform: scale(var(--fa-beat-fade-scale, 1.125))
    }
}

@-webkit-keyframes fa-flip {
    50% {
        -webkit-transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg));
        transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg))
    }
}

@keyframes fa-flip {
    50% {
        -webkit-transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg));
        transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg))
    }
}

@-webkit-keyframes fa-shake {
    0% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg)
    }

    4% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg)
    }

    24%,
    8% {
        -webkit-transform: rotate(-18deg);
        transform: rotate(-18deg)
    }

    12%,
    28% {
        -webkit-transform: rotate(18deg);
        transform: rotate(18deg)
    }

    16% {
        -webkit-transform: rotate(-22deg);
        transform: rotate(-22deg)
    }

    20% {
        -webkit-transform: rotate(22deg);
        transform: rotate(22deg)
    }

    32% {
        -webkit-transform: rotate(-12deg);
        transform: rotate(-12deg)
    }

    36% {
        -webkit-transform: rotate(12deg);
        transform: rotate(12deg)
    }

    40%,
    to {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

@keyframes fa-shake {
    0% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg)
    }

    4% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg)
    }

    24%,
    8% {
        -webkit-transform: rotate(-18deg);
        transform: rotate(-18deg)
    }

    12%,
    28% {
        -webkit-transform: rotate(18deg);
        transform: rotate(18deg)
    }

    16% {
        -webkit-transform: rotate(-22deg);
        transform: rotate(-22deg)
    }

    20% {
        -webkit-transform: rotate(22deg);
        transform: rotate(22deg)
    }

    32% {
        -webkit-transform: rotate(-12deg);
        transform: rotate(-12deg)
    }

    36% {
        -webkit-transform: rotate(12deg);
        transform: rotate(12deg)
    }

    40%,
    to {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.pfa-angle-right:before {
    content: "\f105"
}

.pfa-angle-left:before {
    content: "\f104"
}

:root {
    --fa-style-family-brands: "Font Awesome 6 Brands";
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free"
}

@font-face {
    font-family: "Font Awesome 6 Brands";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(https://cdn.shopify.com/s/files/1/0882/6237/7766/files/fa-brands-400.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa-brands-400.ttf) format("truetype")
}

@font-face {
    font-family: "Font Awesome 6 Free";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa-regular-400.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0882/6237/7766/files/fa-brands-400.ttf) format("truetype")
}

@font-face {
    font-family: "Font Awesome 6 Free";
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url(https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa-solid-900.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa-solid-900.ttf) format("truetype")
}

@font-face {
    font-family: "Font Awesome 5 Brands";
    font-display: block;
    font-weight: 400;
    src: url(https://cdn.shopify.com/s/files/1/0882/6237/7766/files/fa-brands-400.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa-brands-400.ttf) format("truetype")
}

@font-face {
    font-family: "Font Awesome 5 Free";
    font-display: block;
    font-weight: 900;
    src: url(https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa-solid-900.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa-solid-900.ttf) format("truetype")
}

@font-face {
    font-family: "Font Awesome 5 Free";
    font-display: block;
    font-weight: 400;
    src: url(https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa-regular-400.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0882/6237/7766/files/fa-brands-400.ttf) format("truetype")
}

@font-face {
    font-family: FontAwesome;
    font-display: block;
    src: url(https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa-solid-900.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa-solid-900.ttf) format("truetype")
}

@font-face {
    font-family: FontAwesome;
    font-display: block;
    src: url(https://cdn.shopify.com/s/files/1/0882/6237/7766/files/fa-brands-400.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa-brands-400.ttf) format("truetype")
}

@font-face {
    font-family: FontAwesome;
    font-display: block;
    src: url(https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa-regular-400.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0882/6237/7766/files/fa-brands-400.ttf) format("truetype");
    unicode-range: u+f003, u+f006, u+f014, u+f016-f017, u+f01a-f01b, u+f01d, u+f022, u+f03e, u+f044, u+f046, u+f05c-f05d, u+f06e, u+f070, u+f087-f088, u+f08a, u+f094, u+f096-f097, u+f09d, u+f0a0, u+f0a2, u+f0a4-f0a7, u+f0c5, u+f0c7, u+f0e5-f0e6, u+f0eb, u+f0f6-f0f8, u+f10c, u+f114-f115, u+f118-f11a, u+f11c-f11d, u+f133, u+f147, u+f14e, u+f150-f152, u+f185-f186, u+f18e, u+f190-f192, u+f196, u+f1c1-f1c9, u+f1d9, u+f1db, u+f1e3, u+f1ea, u+f1f7, u+f1f9, u+f20a, u+f247-f248, u+f24a, u+f24d, u+f255-f25b, u+f25d, u+f271-f274, u+f278, u+f27b, u+f28c, u+f28e, u+f29c, u+f2b5, u+f2b7, u+f2ba, u+f2bc, u+f2be, u+f2c0-f2c1, u+f2c3, u+f2d0, u+f2d2, u+f2d4, u+f2dc
}

@font-face {
    font-family: FontAwesome;
    font-display: block;
    src: url(https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa-v4compatibility.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa-v4compatibility.ttf) format("truetype");
    unicode-range: u+f041, u+f047, u+f065-f066, u+f07d-f07e, u+f080, u+f08b, u+f08e, u+f090, u+f09a, u+f0ac, u+f0ae, u+f0b2, u+f0d0, u+f0d6, u+f0e4, u+f0ec, u+f10a-f10b, u+f123, u+f13e, u+f148-f149, u+f14c, u+f156, u+f15e, u+f160-f161, u+f163, u+f175-f178, u+f195, u+f1f8, u+f219, u+f27a
}